.k1{
    margin-bottom: 10px;
}
.k2{
    margin-bottom: 10px;
    border-bottom: 1px solid gray ;
    padding-bottom: 10px;
    width: 450px;
}
.k3{
    margin-bottom: 10px;
    width: 450px;
}
#o1{
    background-color:yellow;
    color: red
}
.oc{
    width: 440px;
    height: 30px;
}
.b1{
    border-radius: 15px;
    box-shadow: inset 0px 0px 15px blue ;
    width: 120px;
    height: 30px;
    font-weight: bold;
    color: orangered;
    background-color: white;
}
.b1:hover{
    color: blue;
    box-shadow: inset 0px 0px 15px blue ;
}