.boxleft{
float: left;
width: calc(60% - 20px);
margin-right: 10px;
min-height: 600px;
}
.boxright{
    float: left;
    width:calc(40% - 60px);
    margin-bottom: 23px;
    min-height: 100px;
}
.boxright img{
    width: 40%;
    height: 200px;
}
a{
    font-size: 18pt;
    color: red;
    text-decoration: none;
}
a:hover{
    color: blue;
}
span{
    font-size: 18pt;
    color: #666;
}
p{
    text-align:justify;
    font-size: 14pt;
    padding: 0 10px;
    margin: 30px 10px;
}